[2020-06-05 09:03] OrezzerO commented on #652
https://github.com/alibaba/nacos/issues/441  Maybe, it is the reason. you can get further information from Nacos's issue.

[2020-06-08 09:39] cycle2zhou commented on #653
貌似好像3.4版本会造成一些注解失效，我在3.2.1版本自动配置没问题，升级到3.4的时候就发现配置没自动注入，最后测试发现时注解没生效，我这边是测试到@ConditionalOnMissingBean这个注解失效，我猜想应该不止一个注解受到影响

[2020-06-22 08:36] alaneuler opened #665 "update fastjson to 1.2.69"

[2020-06-22 09:02] alaneuler opened #667 "Provide a standard way to obtain all application context when using isle"

[2020-06-22 09:04] #665 closed

[2020-06-22 12:04] alaneuler opened #668 "Incorrect ProviderConfig name calculation"
This issue isn't relating to service publishing, but will incurring un-export failure.

[2020-06-22 12:05] #668 closed

[2020-06-28 06:13] swqmaven opened #669 "About native compilation"
之前看到一篇文章关于本地编译的问题，简单介绍了下在用这种方式来提高app的运行速度及资源占用情况。想问下sofa-boot是如何做到的？是否已经开源了相关组件或者使用了类似的技术。

[2020-06-28 08:58] ujjboy commented on #669
@swqmaven 是哪篇文章呢？ 你是指的静态编译？

[2020-06-28 09:08] swqmaven commented on #669
对，他那篇文章就是提到大量使用本地静态编译，以此来应对高流量下的弹性伸缩资源利用效率等，就是想知道具体是采用哪种方案来做的。graalvm我倒是知道但是针对spring boot的支持还不是很好持续改进中

[2020-06-28 09:22] ujjboy commented on #669
方便的话，你可以找下文章链接。  sofa-boot 基于 GraalVM 和内部的 alijdk 做过一些实践。

[2020-06-28 09:27] swqmaven commented on #669
我找下，是在头条一篇偶然看到的，关于这方面sofa-boot GraalVM实践有详细的资料经验分享吗？

[2020-07-13 05:48] alaneuler opened #671 "readme 改进"
![image](https://user-images.githubusercontent.com/8054939/87274914-85e85a80-c50f-11ea-87e4-0d39d07d98e8.png)

SOFABoot 已经发布到了 3.4.1，readme 中这段可以考虑删掉。

[2020-07-13 13:22] alaneuler commented on #653
从 3.2.1 到 3.4 并没有自动配置逻辑的改动，能提供一下你的测试样例吗？

[2020-07-13 13:23] #613 closed

[2020-07-14 02:34] yy1098029419 commented on #653
@alaneuler 抱歉，一直忘记回复。目前我再次尝试3.4.0版本时，发现已经可以正常使用了。

[2020-07-14 02:34] #653 closed

[2020-07-20 07:37] HzjNeverStop opened #672 "Provide an endpoint to show the time cost details when application startups"

[2020-07-23 02:26] alaneuler opened #674 "Readiness callback invoking should be break when there is failure happening"
Once failure happens in readiness callback invoking, it means that the health of the application is down!

Readiness callback usually involves registering of service, RPC publication, message subscription etc., as the lame status of application, it can't provide service normally. On the basis of this fact, readiness callback invoking should be break once failure appears.

[2020-07-23 03:41] alaneuler opened #676 "Component's exception is ignored by default"
AbstractComponent's implementation of `isHealthy` doesn't check the exception field; when it's not null, the healthy result should be false

[2020-07-23 03:45] #671 closed

[2020-07-23 03:45] #674 closed

[2020-07-27 11:08] alaneuler opened #679 "Update Spring Boot version to fix CVE-2020-11996"
details here: https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-11996

[2020-07-30 06:54] #676 closed

[2020-07-31 02:28] alaneuler opened #680 "ServiceComponent and ReferenceComponent's report don't include internal exception message"
ServiceComponent and ReferenceComponent's isHealthy() method ignores the internal exception when field `e` is set.

[2020-07-31 02:56] #680 closed

[2020-08-08 14:06] #672 closed

[2020-08-10 03:01] HzjNeverStop opened #684 "Update tomcat version to 9.0.36"

[2020-08-10 03:02] #684 closed

[2020-08-10 05:46] #679 closed

[2020-08-14 02:21] glmapper opened #688 "provide extension to intercept jvm invoke"
sometimes, we need to perceive JVM invoke. In the existing system of sofa, Has not this ability, also include tracer. so we want to provide extension to intercept JVM invoke.

[2020-08-20 01:18] klboke opened #690 "想问下sofa-boot是否在做适配graalvm的工作？"
从这篇文章中得知：https://medium.com/graalvm/static-compilation-of-java-applications-at-alibaba-at-scale-2944163c92e

sofa-boot可以使用graalvm编译成功，想问下，这块相关的内容后面会开源么

[2020-08-20 03:32] khotyn commented on #690
We do not have any plan open source the graalvm integration yet.

[2020-08-20 03:32] #690 closed

[2020-08-20 03:33] khotyn commented on #669
@swqmaven 这部分没有开源的计划哦，有一篇文章有大概的介绍：https://medium.com/graalvm/static-compilation-of-java-applications-at-alibaba-at-scale-2944163c92e

[2020-08-20 03:33] #669 closed

[2020-08-21 06:26] glmapper opened #691 "when logging.level is debug, should not be to execute getCommonInvocationLog"
![image](https://user-images.githubusercontent.com/35319286/90858922-bf876d80-e3b9-11ea-9f8c-03388a3143c1.png)

在测试中发现，当调用 jvm 时，如果此 jvm 的方法参数值数据较大，在执行 StringBuilder#append 时耗时影响也会较大。因此在明确是在 debug 级别才打印日志的情况下，不应该再去执行 getCommonInvocationLog 方法

[2020-08-24 03:06] HzjNeverStop opened #694 "HealthCheck passed when ExtensionComponent activate failed"
the `com.alipay.sofa.runtime.ext.component.ExtensionComponent#isHealthy` method  override super method and ignore the activate result，it result the HealthCheck passed when `com.alipay.sofa.service.api.component.Extensible#registerExtension` throw exceprion

[2020-08-24 06:38] cxntsh opened #695 "如何像 Spring4 里面的 BeanFactoryLocator 通过ID获取上下文 ？"
public static BeanFactoryReference getBeanFactory(String contextId) {
        if (m_context == null) {
            BeanFactoryLocator beanFactoryLoader = DefaultLocatorFactory.getInstance();
            return beanFactoryLoader.useBeanFactory(contextId);
        } else {
            return new BeanFactoryReference() {
                @Override
                public BeanFactory getFactory() {

[2020-08-26 02:24] cxntsh commented on #695
[code]
看了下源码，可以这么搞！ If you want something done right, do it yourself.

[2020-08-26 02:24] #695 closed

[2020-08-31 08:54] #694 closed

[2020-09-03 06:17] #688 closed

[2020-09-07 06:22] elseifer opened #699 "When using sofa:reference to reference jvm service in ark environment, my app occurred an NPE error"
here is some error info:

my code to publish sofa service is：

[code]

NPE occured at sofaboot codes ,because variable serviceJvmBinding  is null:
[code]

[2020-09-08 03:37] #699 closed

[2020-09-08 11:15] glmapper opened #705 "upgrade sofa-ark version to 1.1.4"

[2020-09-09 02:04] elseifer opened #708 "wrong max and core values in http server config"
in com.alipay.sofa.rpc.boot.container.ServerConfigContainer#createHttpServerConfig, here are some wrong codes:
[code]

[2020-09-09 09:38] #708 closed

[2020-09-11 09:56] alaneuler opened #713 "Extension point implementation has race condition"
![image](https://user-images.githubusercontent.com/8054939/92907591-0962f100-f458-11ea-8388-fd02f820125f.png)

This instance variable will be accessed from multiple-thread.

[2020-09-14 02:46] #713 closed

[2020-09-15 01:27] jinkunaier opened #715 "官方例子sofa-boot-guides升级sofaboot版本后启动报错"
官方示例https://github.com/sofastack-guides/sofa-boot-guides 目前使用的sofaboot版本为3.2.0打包没有问题升级任何一个高版本多少都有些问题，比如升级到3.2.1报错如下构建sofaboot-sample-with-isolation项目，打包都没有问题，运行时候报错：
Exception in thread "main" java.lang.reflect.InvocationTargetException
        at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
        at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
        at sun.reflec

[2020-09-22 11:52] junjie-tang99 opened #716 "sofa-ark是否必须基于sofaboot才能正常运行"
最近尝试将基于maven的普通Java项目（非spring项目）打包为ark-biz，然后动态加载到executable-ark.jar中。但是实际操作后，发现无法进行动态加载。参考了官方的示例（https://github.com/sofastack-guides/sofa-ark-dynamic-guides ），发现ark-biz项目和ark项目都是sofaboot项目。
所以，想确认下sofa-ark是否必须基于sofaboot才能正常运行。

[2020-09-22 12:00] jinkunaier commented on #716
@junjie-tang99   https://github.com/sofastack-guides/sofa-ark-guides  这个示例就没有基于sofaboot ，基于sofaboot的这些示例只要升级个sofaboot版本就报错，很让人郁闷

[2020-09-22 12:02] jinkunaier commented on #614
同问，在几个地方都提出这个问题了，一直没人能解答！

[2020-09-22 12:11] junjie-tang99 commented on #716
@jinkunaier 非常感谢提供示例链接！我看了下这个示例，写的是如何ark-plugin包与ark包。其实，我想实现的是：将所有业务组件打成ark-biz包（不想基于sofaboot），然后动态加载到ark中。

[2020-09-22 13:55] alaneuler commented on #614
这个问题是从 3.3.0 引入的，sofaboot 本身使用了 spring 中的类

[2020-09-22 14:44] glmapper commented on #614
@jinkunaier @SnapDL @343585776 3.3.0 版本中由于 sofaboot 部分类直接使用了 spring 相关的类，导致插件在启动时会有问题；目前有两种解决方案：1、参考 http://www.glmapper.com/2020/04/03/solution-series-dynamic-module/   2、通过自定义插件将 spring 相关类全部打在 plugin 中

[2020-09-23 03:30] alaneuler opened #717 "NPE when invoking BOLT service"
when setting com.alipay.sofa.boot.jvm-filter-enable=true in application.properties,  bolt service invoking occurred NPE, because sofaboot codes
`com.alipay.sofa.runtime.invoke.DynamicJvmServiceProxyFinder#findServiceComponent(java.lang.ClassLoader, com.alipay.sofa.runtime.spi.binding.Contract)` may return null

[2020-09-24 13:36] #717 closed

[2020-09-25 03:53] programmerzlp opened #719 "配置问题"
confreg/common-error.log 每隔5秒打印如下错误信息，怎么去掉，我不要注册中心

2020-09-25 11:50:56,354 ERROR worker-1-thread-2                - [Internal] query proxyServer address exception��from httpUrl=http://confreg-pool:9603?com.alipay.ldc.zone=null&version=4.3.4
2020-09-25 11:50:56,355 ERROR worker-1-thread-2                - [Internal] query proxyServer address exception��from httpUrl=http://confreg.sit.alipay.net:96

[2020-09-28 00:46] dwj1979 opened #722 "官方Demo将启动类移到com包下就报 classNotFoundException: com.alipay.sofa.startup.webserver.StartupTomcatServletWebServerFactory"
Spring Boot Version: 2.1.13.RELEASE (v2.1.13.RELEASE)
SOFABoot Version: 3.4.4 (v3.4.4)
Powered By Ant Financial Services Group

2020-09-28 08:41:08.510  INFO 2816 --- [           main] com.DemoApplication                      : Starting DemoApplication on WIN-GA0SK3TD9KM with PID 2816 (D:\Projects\sofa-boot-guides\sofaboot-sample\target\classes started by Administrator in D:\Projects\sofa-boot-gui

[2020-09-28 02:10] HzjNeverStop commented on #722
启动类在com包下会导致所有@Configuration类自动生效，不符合springboot的使用规范，不要这么用

[2020-09-28 06:06] hermeshephaestus commented on #691
OK, I will solve this question!

[2020-09-28 06:39] jinkunaier commented on #614
@SnapDL @343585776 https://github.com/jinkunaier/ark-multi-web   这个是我整合的一个demo，在钉钉群里面大佬的指导下，我把官方的runtime-sofa-boot-plugin弄到本地，加了个spring的依赖，就可以了。具体有没有其它问题还没发现，你们可以参考一下。

[2020-09-28 07:14] #722 closed

[2020-10-09 08:03] #498 closed

[2020-10-14 00:23] dwj1979 opened #729 "关于ClassLoader的问题"
我在将原来的基于SpringBoot的项目升级到使用Sofa，原本的SpringBoot项目中（使用Tomcat的Servlet容器），classLoader 是Launcher$AppClassLoader，ClassUtils.isPresent(），但是在引入Sofa以后，classLoader 变为ClassLoader$AppClassLoader，
这两个classLoader有什么区别

[2020-10-14 00:26] dwj1979 commented on #729
补充说明：代码在Idea InteliJ开发工具中启动就不报错，打包后执行就报错

[2020-10-15 06:57] alaneuler commented on #729
引入 sofaboot 之后，classloader 不会变得；我本地实验了下，还是 Launcher$AppClassLoader 呢

[2020-10-15 06:59] #705 closed

[2020-10-15 07:00] alaneuler opened #730 "BeanLoadCost hierarchical display"

[2020-10-15 07:19] HzjNeverStop opened #732 "Upgrade junit to 4.13.1"
to fix https://github.com/sofastack/sofa-boot/network/alert/test-sofa-boot-starter/pom.xml/junit:junit/open

[2020-10-16 00:19] dwj1979 commented on #729
我用的sofa-boot-guids工程测试的，

@ImportResource({ "classpath*:rpc-starter-example.xml" })
@SpringBootApplication
public class DemoApplication {

    public static void main(String[] args) {
        ApplicationContext applicationContext = SpringApplication.run(DemoApplication.class, args);
        **DemoApplication.class.getClassLoader();**
在这个位置获得的断点，就是ClassLoader$AppClassLoader，

[2020-10-16 09:00] #732 closed

[2020-10-22 01:23] snac21 opened #735 "添加索引扫描依赖，提升启动速度"
sofaboot基于spring5.0，
spring5.0提供了如下依赖，可提升启动速度
        <dependency>
            <groupId>org.springframework</groupId>
            <artifactId>spring-context-indexer</artifactId>
            <optional>true</optional>
        </dependency>

[2020-10-22 07:30] alaneuler commented on #729
确认一下，你的 JDK 版本没变过吧 @dwj1979

[2020-10-22 07:48] #524 closed

[2020-10-22 07:49] #316 closed

[2020-10-22 08:08] alaneuler commented on #589
这里的散落在两处是指，一处打在 bean class 上，一处在 bean method 上（这个好理解），例如
[code]

[2020-10-22 08:22] #161 closed

[2020-10-22 08:26] alaneuler commented on #591
This issuing is closed due to long-time inactivity.

[2020-10-22 08:26] #591 closed

[2020-10-22 08:36] #126 closed

[2020-10-22 08:37] alaneuler commented on #126
This needs another project (or more).

[2020-10-22 08:43] alaneuler commented on #365
This function can indeed be achieved via HealthCheck interface.
As for the startup configuration for HealthChecker, it doesn't seem strongly motivated.

[2020-10-22 08:43] #365 closed

[2020-10-22 08:45] #564 closed

[2020-10-22 08:48] alaneuler commented on #73
It seems that the apex domain won't cause compatibility issue, but changing it from `sofastack.io` to `www.sofastack.io` makes more compliance.

[2020-10-22 09:37] alaneuler commented on #691
It seems that this issue is already fixed in current SOFABoot.

[2020-10-22 09:37] #691 closed

[2020-10-22 09:40] #520 closed

[2020-10-22 10:05] alaneuler commented on #735
Good point, spring-context-indexer is a dependency that Spring Boot or SOFA boot application should care and add.

[2020-10-23 07:05] snac21 commented on #735
when I run sofaboot,it takes me almost 1 min to startup ,
 and this dependency  save me about half of it，if your team takes this suggestion，
 please remind me，anyway，I guesst it will save we developers hundreds and millions of time in the few years，

 best regards

*Company: 邦道科技
*Address: Wuxi,China
*Website: https://www.bangdao-tech.com
*Using components: sofaboot
*Email: haibin.chen@bangdao-tec

[2020-10-26 02:02] #730 closed

[2020-10-26 02:51] alaneuler commented on #735
BTW, how many beans does your system have @snac21

[2020-10-26 03:13] alaneuler commented on #465
This issue is fixed in refactor versions of SOFABoot. And version 2.x is no longer maintained.

[2020-10-26 03:13] #465 closed

[2020-10-26 05:22] alaneuler commented on #255
Actually, environment is shared because bootstrap application context is set as module's parent. Code snippet from Spring `AbstractApplicationContext`:
[code]

[2020-10-26 05:22] #255 closed

[2020-10-27 03:21] snac21 commented on #735
enough，y？

[2020-10-27 03:57] alaneuler opened #741 "Upgrade Spring Boot version to 2.3.9.RELEASE"
Deprecations in Spring Boot from 2.1.x to 2.2.x: https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.2-Release-Notes#deprecations-in-spring-boot-22
Deprecations in Spring Boot from 2.2.x to 2.3.x: https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.3-Release-Notes#deprecations-in-spring-boot-23

[2020-10-27 12:42] #667 closed

[2020-10-27 13:46] HzjNeverStop opened #744 "clean sofa-boot-samples module"
it is useless now

[2020-10-27 15:02] alaneuler commented on #735
We're considering updating the SOFABoot demo to include spring-context-indexer dependency

[2020-10-27 15:25] #744 closed

[2020-10-30 06:52] snac21 commented on #735
sounds like good

[2020-10-30 06:52] #735 closed

[2020-11-02 09:18] dwj1979 commented on #729
用的测试工程，我本地的JDK11.0.2

[2020-11-02 09:29] dwj1979 opened #749 "RPC-020060001: 没有获得服务[com.pxy.rpc.SysIpListRpcService:1.0]的调用地址，请检查服务是否已经推送"
我重建一个sofa工程提供rpc接口，然后在另一个工程中调用rpc接口，提示如下错误：
com.alipay.sofa.rpc.core.exception.SofaRouteException: RPC-020060001: 没有获得服务[com.pxy.rpc.SysIpListRpcService:1.0]的调用地址，请检查服务是否已经推送
	at com.alipay.sofa.rpc.client.AbstractCluster.noAvailableProviderException(AbstractCluster.java:490) ~[sofa-rpc-all-5.7.3.jar:5.7.3]
	at com.alipay.sofa.rpc.client.AbstractCluster.select(AbstractCluster.java:419) ~[sofa-rpc-

[2020-11-02 09:41] dwj1979 commented on #749
提供方和调用方在同一个开发环境下，为什么提供方注册的接口地址是   bolt://192.168.207.1:12200?.....
这个IP并不是我机器的IP，而调用方的IP地址是正确的，是我的本机IP

[2020-11-02 12:57] dwj1979 commented on #749
我在配置文件中设置了如下配置项:  com.alipay.sofa.enabled.ip.range=192.168.0:192.168.0 ，可以让rpc接口提供方在zookeeper注册的接口地址变为我本机物理网卡地址了 bolt://192.168.0.57:12200?.....

但是【RPC-020060001: 没有获得服务[com.pxy.rpc.SysIpListRpcService:1.0]的调用地址，请检查服务是否已经推送】错误依旧

[2020-11-03 00:21] dwj1979 commented on #749
RPC接口定义如下：

@Service
@SofaService(uniqueId = "sysIpListServiceRpcImpl",
        bindings = { @SofaServiceBinding(bindingType = "bolt")}
        , interfaceType = SysIpListRpcService.class)
public class SysIpListServiceRpcImpl implements SysIpListRpcService {

}

[2020-11-03 05:56] alaneuler commented on #729
猜测是你在测试的时候用了不同的 JDK 版本，JDK 8 上面是 Launcher$AppClassLoader，JDK 9 以上是 ClassLoader$AppClassLoader。这个没什么区别

[2020-11-06 03:57] HzjNeverStop opened #751 "Update "Ant Financial Services Group" to "Ant Group""

[2020-11-06 06:11] HzjNeverStop commented on #751
done

[2020-11-06 06:11] #751 closed

[2020-11-06 08:14] HzjNeverStop opened #757 "Export warn log when @SofaReference annotation write on static fields"
When user write @SofaReference on static fields，it won't work and often cause NPE，add a warn log to tell the reason

[2020-11-07 10:58] alaneuler opened #759 "ReInitializer of log is logically incorrect"
Before reinitializing, logging will be DENIED because FilterGenerator.
And the reinitializing timing is not correct. Actually, there won't exist such a timing for reinitializing because no logging event should be dropped.

[2020-11-09 03:42] #757 closed

[2020-11-09 03:43] #759 closed

[2020-11-18 05:15] alaneuler opened #767 "SofaRuntimeConfigurationProperties' using of this.getClass().getClassLoader() as key has bug in it"
SofaRuntimeConfigurationProperties is exported by SOFA Runtime plugin in Ark environment, so the keys of configuration map are always the same. Like:
![image](https://user-images.githubusercontent.com/8054939/99486887-0debde80-29a0-11eb-940f-141a4d9ff618.png)

[2020-11-24 08:40] jha042120 opened #768 "No corresponding JVM service bug when project repository contains white space"
在官网上下载sofa-boot-guides模块代码，启动ApplicationRun之后，在浏览器上访问http://localhost:8080/serviceClientImplService调用服务时，报错：
Whitelabel Error Page
This application has no explicit mapping for /error, so you are seeing this as a fallback.

Tue Nov 24 16:39:42 GMT+08:00 2020
There was an unexpected error (type=Internal Server Error, status=500).
JVM Reference[interface com.alipay.sofa.isle.sample.SampleJvmService#s

[2020-11-24 08:45] ujjboy commented on #768
代码做过啥改动吗？ 这个demo应该下载后可直接运行的

[2020-11-24 08:54] jha042120 commented on #768
就修改本地的settings文件，还是按照官网说明修改的，加入了<profile>
    <id>default</id>
    <activation>
        <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
        <repository>
            <snapshots>
                <enabled>true</enabled>
            </snapshots>
            <id>maven-snapshot</id>
            <url>https://oss.sonatype.org/content/repositories/snapshots</url>
        </

[2020-11-24 08:59] jha042120 commented on #768
原来的sofaboot版本是3.2.0，但是我的SpringBoot是2.1.13的，所以我修改成了3.3.2了。

[2020-11-24 09:01] jha042120 commented on #768
然后maven的settings文件中加入<profile>....</profile>内容，其他的都没有改动了。

[2020-11-24 09:15] jha042120 commented on #768
下载下来之后，父工程的pom.xml文件里面 <parent>
        <artifactId>sofaboot-dependencies</artifactId>
        <groupId>com.alipay.sofa</groupId>
        <version>3.2.0</version>
    </parent>
这个版本一直在报红色，maven我刷新、重新下载之后还是报红。

[2020-11-24 09:26] alaneuler commented on #768
麻烦贴下完整报错呢

[2020-11-24 09:55] ujjboy commented on #768
刚下载了跑了下，并没有什么问题， @jha042120  贴一些完整日志吧

![image](https://user-images.githubusercontent.com/1424920/100078227-426b0900-2e7e-11eb-8009-20ba0a197ce9.png)

[2020-11-24 10:19] jha042120 commented on #768
这个是完整的报错：
2020-11-24 11:48:08.030  INFO 46864 --- [main] c.a.sofa.isle.sample.ApplicationRun      : Starting ApplicationRun on DESKTOP-G85466D with PID 46864 (started by jha04 in E:\myeclipse work\sofa-boot-guides)
2020-11-24 11:48:08.031  INFO 46864 --- [main] c.a.sofa.isle.sample.ApplicationRun      : No active profile set, falling back to default profiles: default
2020-11-24 11:48:08.786  INFO

[2020-11-24 10:30] jha042120 commented on #768
启动是好的，在浏览器中访问http://localhost:8080/serviceClientImplService就会报没有发布jvm服务的错误。

[2020-11-24 10:32] jha042120 commented on #768
你下载代码的地址是这个吗？https://github.com/sofastack-guides/sofa-boot-guides
我看有几处下载代码的地方。

[2020-11-24 13:09] ujjboy commented on #768
是的，就是这个工程，你方便贴一些  logs/sofa-runtime 下的日志吗？

[2020-11-25 00:41] jha042120 commented on #768
[sofalogs.txt](https://github.com/sofastack/sofa-boot/files/5593622/sofalogs.txt)

[2020-11-25 00:43] jha042120 commented on #768
代码重下载好几遍，什么都没改，这次连版本也没改，还是这样。

[2020-11-25 03:55] ujjboy commented on #768
不是启动日志，是看工程  logs/sofa-runtime/sofa-default.log 这个日志

[2020-11-25 05:23] jha042120 commented on #768
sofa-default.log

[2020-11-25 05:24] jha042120 commented on #768
[sofa-default.log](https://github.com/sofastack/sofa-boot/files/5594580/sofa-default.log)

[2020-11-25 05:25] jha042120 commented on #768
[spring.log](https://github.com/sofastack/sofa-boot/files/5594582/spring.log)

[2020-11-25 05:42] alaneuler commented on #768
@jha042120 我发现你的工程所在路径中有空格，`myeclipse work` 把空格去掉就 OK 了

[2020-11-25 06:42] jha042120 commented on #768
好了，谢谢

[2020-11-25 07:20] alaneuler commented on #768
@jha042120 这个应该是 SOFABoot 在读取文件的时候没有正确处理路径带空格的情况，后续版本会修复掉~

[2020-11-25 07:34] jha042120 commented on #768
ok

[2020-12-03 04:27] opjk opened #769 "从3.15升级到 3.4.6启动失败"
**报错**
java.lang.NoClassDefFoundError: com/alipay/sofa/infra/log/space/SofaBootLogSpaceIsolationInit
	at com.alipay.sofa.rpc.boot.SofaBootRpcInitializer.initStarterLog(SofaBootRpcInitializer.java:65)
	at com.alipay.sofa.rpc.boot.SofaBootRpcInitializer.initialize(SofaBootRpcInitializer.java:44)
	at org.springframework.boot.SpringApplication.applyInitializers(SpringApplication.java:635)
	at org.spri

[2020-12-04 11:17] ujjboy commented on #769
rpc-sofa-boot-starter 不建议单独引版本

[2020-12-08 05:20] opjk commented on #769
谢谢，但是不引用，又缺少依赖呢，能给个依赖配置参考一下么？

[2020-12-09 02:17] alaneuler commented on #769
starter 里面包含了完整的依赖的，把你的 gradle 配置发下呢

[2020-12-09 03:33] opjk commented on #769
**启动正常的配置**
ext {
   springBoot="2.4.0"
   **sofaVersion = "3.1.5"**
    mybatisPlus = "3.4.1"
    druidVersion = "1.2.3"
}
dependencies {
    compile "org.springframework.boot:spring-boot-starter:${springBoot}"
    compile "com.alipay.sofa:runtime-sofa-boot-starter:${sofaVersion}"
    compile "com.alipay.sofa:infra-sofa-boot-starter:${sofaVersion}"
    compile("com.alipay.sofa:rpc-sofa-boot-start

[2020-12-09 12:38] alaneuler commented on #769
建议参照 Spring Boot 官方的 build.gradle 的 demo，不用自己指定版本，而是使用 plugin 机制，sofa-boot-gradle-plugin；
这样就不会出现版本升级出现不兼容的情况。

[2020-12-14 07:02] horsy945 opened #773 "Require-Module 有多个的时候，是逗号隔开还是另加一行？"
你好，一个sofa-module 依赖另外两个module 的时候，配置的格式是怎样的？

例如：com.alipay.sofa.service-consumer 依赖 com.alipay.sofa.service-provider 及 com.alipay.sofa.consumer-dao 时，配置是这样的吗？
`Module-Name=com.alipay.sofa.service-consumer
Require-Module=com.alipay.sofa.service-provider,com.alipay.sofa.consumer-dao`

[2020-12-14 07:39] glmapper commented on #773
https://www.sofastack.tech/projects/sofa-boot/sofaboot-module/

[2020-12-14 07:39] #773 closed

[2020-12-15 09:58] zwalts opened #776 "修复tomcat-CVE-2020-13935"
tomcat 拒绝服务漏洞https://help.aliyun.com/noticelist/articleid/1060743880.html
需要升级到安全版本才能解决

[2020-12-16 02:55] leijieallstar opened #777 "项目路径中包含中文的时候发布服务会报 can not find the corresponding JVM service"
项目路径中包含中文的时候发布服务会报  can not find the corresponding JVM service
截取了一段日志：
JVM Reference[interface com.alipay.sofa.isle.sample.SampleJvmService#serviceClientImpl] can not find the corresponding JVM service. Please check if there is a SOFA deployment publish the corresponding JVM service. If this exception occurred when the application starts up, please add Require-Module to SOFA deployment's MANIFEST

[2020-12-18 05:38] alaneuler commented on #777
#782 也会修复这个问题~

[2020-12-18 06:02] #768 closed

[2020-12-18 06:02] #777 closed

[2020-12-18 06:10] #776 closed

[2020-12-21 03:09] alaneuler opened #784 "Remove infra starter"
infra starter is no longer in use, it can be removed.
While infra logger is active used, just keep it.

[2020-12-21 10:52] lnkForKing opened #785 "引入 runtime-sofa-boot-plugin 启动服务失败"
想弄一个多biz之间服务通信的，需要引入 runtime-sofa-boot-plugin 依赖，引入之后启动服务就报下面的错误。
根据错误描述是少了Spring的类，然后我复制了一个 runtime-sofa-boot-plugin，修改了pom.xml 的打包配置，去掉排除Spring的配置之后就可以启动服务。
不知道是我配置问题，还是这是个bug，求指导。
我的例子：https://github.com/lnkForKing/my-sofa-demo

我的 runtime-sofa-boot-plugin 就改了下面配置
[code]

启动错误信息
[code]

[2020-12-22 05:07] #769 closed

[2020-12-23 02:14] #784 closed

[2020-12-24 07:10] yuanzhipeng opened #789 "sofa-boot-3.6.0与sofa-common-tools冲突"
sofa-boot-3.6.0中 在sofa-boot-project\sofaboot-dependcies\pom中依赖了sofa-common-tools-1.3.0.jar但是在githuab上并未发布.手动降低到1.2.2版本     runtime-sofa-tools中AsyncTaskExecutor.class line 83 行   缺少默认构造器. 还是希望能早点提交新的版本依赖

[2020-12-29 02:58] elseifer commented on #789
当前（12月29日）为止3.6.0还在开发阶段，没有正式发布，建议使用稳定版本。如果你调试代码，也建议切换到3.4.6的tag

[2021-01-04 05:20] #589 closed

[2021-01-04 05:21] #729 closed

[2021-01-05 06:05] HzjNeverStop opened #794 "Enhance the startup endpoint"
- break up the boot process to some stages
- show start time and end time for each stage
- generate more detailed information for module bean creating

[2021-01-05 06:24] HzjNeverStop commented on #741
update spring boot version to 2.3.8.RELEASE

[2021-01-07 07:30] #794 closed

[2021-01-07 09:03] wangchen111 opened #797 "引入healthcheck之后应用启动报错"
工程由springboot改为sofaboot，并且引入healthcheck-sofa-boot-starter。启动应用出现错误，但启动后访问/actuator/readiness可以获取健康信息。
![image](https://user-images.githubusercontent.com/11702955/103873092-41c6c300-510a-11eb-959c-de45f13172f3.png)

[2021-01-07 09:05] wangchen111 commented on #797
错误信息如下：
2021-01-07 16:33:37.311  WARN 10772 --- [nfoReplicator-0] com.netflix.discovery.DiscoveryClient    : Exception from healthcheckHandler.getStatus, setting status to DOWN

java.lang.IllegalArgumentException: App is still in startup process, please try later!
	at org.springframework.util.Assert.isTrue(Assert.java:118)
	at com.alipay.sofa.boot.actuator.health.SofaBootHealthIndicator.health(Sof

[2021-01-10 15:01] wpf0310 opened #799 "Sofaboot3.3.0以上版本Ark启动runtime-sofa-boot-plugin报org.springframework.context.ApplicationContextAware"
Caused by: org.springframework.beans.BeanInstantiationException: Failed to instantiate [com.alipay.sofa.runtime.spi.component.SofaRuntimeManager]: Factory method 'sofaRuntimeManager' threw exception; nested exception is java.lang.NoClassDefFoundError: org/springframework/context/ApplicationContextAware
	at org.springframework.beans.factory.support.SimpleInstantiationStrategy.instantiate(SimpleInst

[2021-01-13 09:50] alaneuler commented on #797
这个只是在**启动期**的时候有个外部请求触发了 spring boot 的 health indicator 的逻辑，SOFABoot 检查到应用没有启动完成，然后出现了上述错误，这个错误不影响启动。

[2021-01-15 09:47] lduffy69 opened #802 "Sofaboot模块内部的业务组件必须依赖xml定义bean方式才能隔离上下文？"
如题，目前sofaboot模块的对外发布jvm/rpc服务，无论注解，api,xml三种方式都需要META-INF/spring/*.xml中定义bean，而内部组件beanId定义也需要频繁更新xml实现sofaboot的上下文隔离，Spring原生注解方式【@Component/@Service】定义内部业务组件，在Root Context下依然有可能产生beanId冲突问题，请问如何在使用独立上下文的需求下更方便地定义内部组件~

[2021-01-15 10:52] alaneuler commented on #802
并不是这个意思哦。

xml 是模块隔离的入口，SOFA 会主动读取 META/spring/ 下的 xml 文件，作为这个模块的上下文 bean 定义来源。但是需要注意的是，xml 里面不仅能配置 bean，还可以配置 Spring 上下文，比如你提到的 componentscan：

[code]

这样配置之后，你就可以在模块里面用注解定义 Spring bean 和 SOFA 服务了；有很重要的一点：这里配置的 component scan 不要扫到别的模块的 bean，否则可能会有冲突，因此 package 的定义要非常注意。

[2021-01-15 10:56] lduffy69 commented on #802
我思维僵硬了，其实就是一定程度上可以极大避免beanId冲突，但是模块，主应用的包定义依然要规范，多谢解答~

[2021-01-15 10:56] #802 closed

[2021-01-20 09:55] #797 closed

[2021-03-04 11:26] HzjNeverStop commented on #789
This question is fixed, you can verify it

[2021-03-04 11:27] HzjNeverStop commented on #741
temporary suspend

[2021-03-04 11:28] HzjNeverStop commented on #767
has it be fixed？

[2021-03-16 05:43] Pocsd opened #805 "服务注册nacos不成功"
当服务端有两个接口暴露服务的时候，nacos注册中心只注册一个，并且客户端调用报错RPC-02306: 没有获得服务[cn.com.common.TalkService:1.0]的调用地址，请检查服务是否已经推送

[2021-03-16 06:09] Pocsd commented on #805
![image](https://user-images.githubusercontent.com/40380036/111262166-bb28e780-865e-11eb-8fbf-5d516fbd40ae.png)
![image](https://user-images.githubusercontent.com/40380036/111262177-c11ec880-865e-11eb-80de-4e0637a74045.png)

[2021-03-16 06:10] Pocsd commented on #805
客户端:
![image](https://user-images.githubusercontent.com/40380036/111263752-591db180-8661-11eb-92c9-355239ad0f9d.png)
![image](https://user-images.githubusercontent.com/40380036/111263772-6044bf80-8661-11eb-8206-b6ab396f1bd2.png)

[2021-03-22 11:14] #789 closed

[2021-03-22 11:19] alaneuler opened #806 "sofa.middleware.log.console is overridden by LogEnvironmentPreparingListener"
com.alipay.sofa.boot.logging.LogEnvironmentPreparingListener#defaultConsoleLoggers set sofa.middleware.log.console without checking the value existence. Thus will override the value set by user.

[2021-03-23 02:09] #806 closed

[2021-03-26 02:23] wangyjx opened #811 "Any plan to upgrade to Spring Boot 2.4.X?"
Since Spring Cloud Alibaba is going to release its first version that is compatible with Spring Cloud 2020.
I wonder whether you have similar plan to upgrade to boot 2.4.X or Spring Cloud 2020.X ? ( I know you will upgrade to boot 2.3.9 in 3.7 release)

I understand 2.4.X has lots of breaking changes and lots of work to do

[2021-03-26 03:13] ujjboy commented on #811
Maybe upgrade SpringBoot to 2.4.x in v3.9.0 in August 2021.

[2021-03-31 05:34] wangyjx commented on #811
Thanks for the information

[2021-03-31 05:34] #811 closed

[2021-04-07 11:03] alaneuler commented on #767
scheduled in 3.6.1

[2021-04-07 14:55] #767 closed

[2021-04-16 07:20] HzjNeverStop opened #818 "SofaRuntimeMananger need to close components when root context close"
SofaRuntimeMananger need to close components when root context close

[2021-04-19 01:46] bbJune opened #819 "sofaBootV3.6.0对应的SpringBoot的版本是多少？"

[2021-04-19 05:00] khotyn commented on #819
可以在这里找到对应关系：https://www.sofastack.tech/projects/sofa-boot/overview/

[2021-04-21 02:18] #818 closed

[2021-04-21 03:00] alaneuler commented on #819
代码角度的话，可以到 sofaboot-dependencies 这个模块下看其 maven 模块的 parent，3.6.0 中对应的是 Spring Boot 版本是 2.1.13.RELEASE

[2021-04-22 07:34] #741 closed

[2021-04-24 06:50] #819 closed

[2021-04-25 11:54] alaneuler opened #823 "SofaStartupIsleAutoConfiguration condition is not complete"
SofaStartupIsleAutoConfiguration should conditional on `com.alipay.sofa.boot.enable-isle` property, as it is isle dependent.

[2021-04-26 02:50] #823 closed

[2021-04-27 09:34] LeoDominicXu opened #826 "Process pipeline stage fail: com.alipay.sofa.ark.container.pipeline.HandleArchiveStage"
2021-04-27 17:29:06,375 INFO  main                             - Begin to start ArkServiceContainer
2021-04-27 17:29:06,917 INFO  main                             - Init Service: com.alipay.sofa.ark.container.session.StandardTelnetServerImpl
2021-04-27 17:29:06,917 INFO  main                             - Listening on port: 1234
2021-04-27 17:29:07,192 INFO  main                             - Init

[2021-04-27 09:35] LeoDominicXu commented on #826
报空指针，但去掉非宿主biz是可以启动的。

[2021-04-27 11:04] glmapper commented on #826
Maybe your normal biz is illegal

[2021-05-13 05:53] alaneuler opened #829 "grpc version in dependencies is in consistent"
there are `grpc-all.version` and `grpc.version`, while they specify different versions:
`grpc-all.version` points to 1.0.3
`grpc.version` points to 1.28.0

[2021-05-21 08:00] HzjNeverStop opened #831 "Prepare to release SOFABoot 3.7.0"

[2021-05-28 09:57] #829 closed

[2021-05-31 15:52] longwusha commented on #831
There is a typo in 3.7.0 release change log.

'Provide English version REAME' means 'Provide English version README'?

[2021-06-01 03:59] alaneuler opened #835 "ServiceBeanFactoryPostProcessor#generateSofaServiceDefinitionOnClass bug"
In ark environment, If annotation class is loaded by biz classloader, this method will throw sun.reflect.annotation.TypeNotPresentExceptionProxy exception and stop the booting of application.

AnnotationUtils should be used instead.

[2021-06-01 05:44] alaneuler commented on #831
yep, you are right!

It's now fixed~

[2021-06-01 05:44] #831 closed

[2021-06-04 15:10] #835 closed

[2021-06-18 04:00] JohnnyCao opened #837 "SOFA 健康检查日志中加入当前检查进度"
如，我要检测10项，那么可以类似如下反馈：
check item 1(DataSource): ok
check item 2(Mail): ......... -> 这里我就知道有问题了，可能网络问题卡主

[2021-06-21 02:20] alaneuler opened #838 "Support for JDK 11"

[2021-06-21 02:26] alaneuler commented on #837
Some enhancements:
1. before health check, printing all items
2. health check timeout for each item, defaulting to 60s

[2021-06-21 06:00] alaneuler opened #839 "Integration of Layotto"
Layotto: https://github.com/mosn/layotto

1. Convenient dynamic configuration
2. Invoke service via grpc to layotto
3. pub/sub

[2021-06-21 07:21] EzekR opened #840 "国内现在有哪些公司在用sofa全家桶呢？"
## In what area(s)?

/area docs

## Ask your question here
目前公司技术架构想转sofa，因为主要业务都是金融领域的。不知道国内有没有一些知名的大公司用了sofa全家桶的？

[2021-06-21 09:48] nobodyiam commented on #840
There are some known users registered in [Awesome SOFA](https://www.sofastack.tech/awesome/)

[2021-06-22 07:25] EzekR commented on #840
thank you, sir

[2021-06-22 07:25] #840 closed

[2021-06-25 03:31] alaneuler opened #841 "适合新手的任务列表，欢迎认领"
- [x] [ASSIGNED] SOFABoot 发布服务时 增加 interfaceType 校验。见 https://github.com/sofastack/sofa-boot/issues/851
- [x] [ASSIGNED] 为 SOFABoo t增加 SOFA tracer 插件，见 https://github.com/sofastack/sofa-boot/issues/847
- [x] [CLOSED] SOFA 健康检查日志中加入当前检查进度，见 https://github.com/sofastack/sofa-boot/issues/837
- [x] [ASSIGNED] 支持单独配置终端日志级别 见 https://github.com/sofastack/sofa-common-tools/issues/134
- [ ] [ASSIGNED] 设计实

[2021-06-26 07:41] it-linnan commented on #841
您好，我想试试第一个任务: SOFA 健康检查日志中加入当前检查进度

我是这样想的，改造`HealthCheckerProcessor`
1. 在健康检查开始前，根据`HealthChecker`集合，打印待检查项
2. 在调用`HealthChecker.isHealthy`方法时，利用`CountDownLatch`提供超时机制（超时时间提供默认值，支持配置）
3. 在调用具体组件的健康检查前后增加日志输出：xxx检查开始   xxx检查完成

[2021-06-28 02:08] alaneuler commented on #841
@it-linnan 好的，欢迎欢迎～

1. 第一点可能还不够，SOFA 的健康检查除了 HealthChecker 还包括 HealthIndicator 的检查
2. 同样，还需要考虑 HealthIndicator 的

可以在 issue 下面发下你的 PR，我们来 review～

[2021-06-28 02:32] seeflood commented on #841
@alaneuler 说你思路很好~如果确定要做的话，我们把第一个issue assign给你？

[2021-06-28 04:03] it-linnan commented on #841
好的，确定要做，分配给我吧。

[2021-06-28 06:11] seeflood commented on #837
任务可以 assign给 @it-linnan

[2021-06-28 06:16] seeflood commented on #837
这个feature会assign给@it-linnan 哈
现在assign不了，好像得等@it-linnan 在这issue有留言才能assign~

[2021-06-28 06:24] it-linnan commented on #837
🙌你好，我想认领这个任务

[2021-06-28 06:34] seeflood commented on #837
欢迎欢迎~已assign

[2021-07-06 12:49] dkisser commented on #841
2.支持单独配置终端日志级别

这个可以通过LoggerContext获取到对应的logger之后通过setLevel可以直接设置，但是有以下注意点：

- 设置日志级别的时候要兼容log4j与logback，两者的日志级别都要设置
- 设置时需要注意有三个地方都有console的配置，分别是log-conf.xml、sofa.middleware.log.console.level、sofa.middleware.log.{space id}.console.level，要注意配置顺序来确定最终生效的console日志级别

[2021-07-08 08:01] dkisser commented on #841
我想认领第二个任务

[2021-07-08 08:07] seeflood commented on #841
棒！@dkisser 请在 #134 里回复下哈，我们好assign给你

[2021-07-08 08:15] alaneuler commented on #841
这里不能使用 logger 的 setLevel 哈～
1. 一个 logger 的下面会有多个 appender，sofa 是通过添加一个 console appender 使得日志可以**自动**同时输出到终端。
2. 得单独配置 appender 的级别，使得同一个 logger 的不同 appender 有不同的级别
3. 配置的话，不需要考虑 log-conf.xml，因为这个 console appender 是 sofa **自动**添加的

其他的思考的很棒，可以根据上面的建议再提一下～

[2021-07-13 02:52] HzjNeverStop opened #845 "Set proxyBeanMethods=false on @Configuration"
It will improve startup speed

[2021-07-20 08:29] kailll opened #847 "增加sofaTracer插件"
sofa-tracer中新增了kafkamq，rabbitmq，rocketmq，springmessage，redis，mongodb插件，麻烦sofaboot增加下自动配置

[2021-07-20 08:41] kailll opened #848 "SofaRpcAutoConfiguration bean装配问题"
SofaRpcAutoConfiguration中装配多个list<T>的bean，只会装配最前面的一个，后面的装配List<T>方法不会被执行。亲测哪个装配List<T>方法在前面，哪个会被装配。
![image](https://user-images.githubusercontent.com/12868971/126289953-380c3ad8-57e5-4120-b3bc-a8b6d0c5a339.png)

[2021-07-27 10:30] #838 closed

[2021-07-28 03:00] glmapper commented on #847
@kailll 可以直接使用 sofatracer 3.1.1. 版本提供的 starter

[2021-07-28 03:01] glmapper commented on #847
@HzjNeverStop @alaneuler 现在 sofaBoot 除了 3.8.x 版本之外，还有那个版本在保持更新，我把 tracer starter 同步过来

[2021-08-11 06:56] joker-pper opened #851 "ServiceClientImpl.service增加InterfaceType和Instance校验"
runtime-sofa-boot目前版本中未检测instance是否来源于InterfaceType,导致硬编码指定错误时未报错,项目启动后无法注册成功对应的服务

[2021-08-12 03:24] alaneuler commented on #851
嗯嗯，这个可以优化下～

[2021-08-12 03:27] alaneuler commented on #848
你是说这个 containerRequestFilters 或者 containerResponseFilters 吧？
希望是多个 list 合并成一个吗？

[2021-08-12 03:28] alaneuler commented on #847
目前最新的是 3.8.x 系列，别的版本没有了。

[2021-08-12 03:30] alaneuler commented on #845
Released in 3.8.0

[2021-08-12 03:30] #845 closed

[2021-08-13 02:12] it-linnan commented on #841
您好，我已经提交了PR，等待review呢
[Improve HealthCheck: add progress and timeout.(#837)](https://github.com/sofastack/sofa-boot/pull/844)

[2021-08-13 06:20] deadbrother opened #852 "加载依赖包问题"
web项目使用了swagger，sofa本身依赖了curator，其中curator-client依赖org.apache.curator，该包下面有个package名为org.apache.curator.shaded.com.google.common,package下复写了所有guava-common的类，在使用sofa-boot的情况会丢失加载guava-common包下的所有类，暂时未定位到具体问题，只是猜测是否sofaboot自定义了类加载器，导致包路径下有重复段的类加载失败。
以下截图为spring-boot-starter和sofa-boot加载guava-common下一个类的使用情况，可以从图中明显看到guava包下的类未被编辑器获取。
ps截图中类名为Supplier，
全路径分别为org.apache.curator.shaded.com.google.common

[2021-08-13 07:51] dkisser commented on #841
consoleAppender大致的初始化流程：
consoleAppender的初始化发生在AbstractLoggerSpaceFactory的子类（Log4j2LoggerSpaceFactory和LogbakLoggerSpaceFactory）的初始化过程中，目前是只有一个consoleAppender, 同时将所有需要consoleAppender的logger的loggerName记录到CommonLoggingConfigurations#loggerConsoleWhiteSet，并在AbstractLoggerSpaceFactory的子类初始化的过程中判断是否加入到logger中。

我的方案：
在AbstractLoggerSpaceFactory创建consoleAppender时通过ConsoleAppender.Builder#setTarget即可改变con

[2021-08-13 09:04] alaneuler commented on #841
@dkisser setTarget 只是设置输出到 stdout 还是 stderr，并不能改 level 的吧。

可以往这两个方向看看：
- appender filer.
- AppenderControl is also applicable in log4j2.

你的疑问是对的，每个 logger 都需要一个 console appender，不能共用一个了。

[2021-08-14 02:42] dkisser commented on #841
Log4j2可以在创建Appender的时候调用Builder#setFilter，手动给他创建一个ThresholdMatchFilter这样就好。而Logback似乎只能通过xml来给appender设置filter，感觉logback这里如何实现有点不清楚

[2021-08-16 02:04] #852 closed

[2021-08-16 06:10] helloxz opened #853 "sofa健康检查不生效"
* sofa版本：`3.4.6`
* pom已启用`healthcheck-sofa-boot-starter`依赖
* java启动的时候添加了`-Dmanagement.port=xxx`参数

___
问题现象：
应用启动日志无报错，查看sofa日志目录下并没有health-check目录，`-Dmanagement.port=xxx`对应的端口没有监听，请问是哪里的原因？

[2021-08-17 08:26] keleqnma opened #854 "希望启动日志里/提供默认接口打印所有接口的URL路径列表集"
## In what area(s)?

/area operator

## Describe the feature

接手前辈代码时一个个跟踪接口比较麻烦，又没有完善的文档，希望SOFABoot能提供该功能。
之前使用的Golang开发框架Gin就支持该功能，启动时会输出所有接口路径，METHOD类型，以及为该接口提供服务的方法。

[2021-08-19 07:08] alaneuler opened #856 "Refine DynamicJvmServiceProxyFinder#findServiceComponent's overhead"
Each JVM service invoking will go through this for loop, which is a readily high overhead.
![image](https://user-images.githubusercontent.com/8054939/130023916-e0c257ef-15b9-4586-8a1d-05afe743724f.png)

[2021-08-20 06:03] alaneuler commented on #854
你说的是 Spring MVC 里面的各个 Controller 吗？

[2021-08-20 06:04] alaneuler commented on #853
@helloxz logs/sofa-runtime/common-error.log 里面有错误吗？

[2021-08-20 06:19] alaneuler commented on #841
@dkisser 可以的 @seeflood 第二个任务可以分配给 @dkisser 啦～

[2021-08-20 06:25] alaneuler commented on #847
新手任务描述：为 SOFATracer 中的 plugin：
1. kafkamq
2. rabbitmq
3. rocketmq
4. springmessage
5. redis
6. mongodb
增加 Spring Boot auto-configuration 配置。

[2021-08-20 06:28] alaneuler commented on #851
新手任务描述：为 SOFABoot 服务发布 API 增加 interfaceType 强校验。
- 要求做成可配置的，默认不校验，后续 SOFABoot 版本再打开默认校验

[2021-08-20 06:40] keleqnma commented on #854
是的

[2021-08-20 06:40] alaneuler commented on #851
使用文档：https://www.sofastack.tech/projects/sofa-boot/quick-start/
代码位置：ServiceClientImpl
问题描述：
![image](https://user-images.githubusercontent.com/8054939/130191049-60ecd16a-5631-4725-be10-8efddba1c4d0.png)

当用户发布服务的时候，目前的 ServiceClientImpl 中没有校验 setInstance 的参数对象的确实现了 setInterfaceType 参数所指定的接口。

[2021-08-20 07:34] seeflood commented on #841
增加了两个新任务：
-  SOFABoot 发布服务时 增加 interfaceType 校验。见https://github.com/sofastack/sofa-boot/issues/851
-  为SOFA Boot增加SOFA tracer插件，见https://github.com/sofastack/sofa-boot/issues/847

[2021-08-20 09:24] keleqnma commented on #841
我想认领“SOFABoot 发布服务时 增加 interfaceType 校验”这个任务。
**思路：**
- API发布服务：
现在ServiceClientImpl的service方法中，只检验InterfaceType非空和binding type。
增加检验instance是否实现了InterfaceType定义的接口。
代码位置：ServiceClientImpl、ServiceComponent
- xml发布服务：

- 注解发布服务：

[2021-08-20 09:32] seeflood commented on #841
@alaneuler 看下哈

[2021-08-20 09:57] alaneuler commented on #841
嗯嗯，这个思路是 OK 的，但是可以提炼到 ServiceComponent 级别吗？
此外，关于校验开关配置有想法吗？

[2021-08-20 11:18] EvenLjj opened #859 "The RPC service provider adds a switch that does not register the service to the registry"
In some cases, such as CI scenarios, there is no need for pub services to the registry. A switch needs to be added to control this behavior.

[2021-08-20 11:57] dkisser commented on #841
我想认领 “为SOFA Boot增加SOFA tracer插件” 这个任务
**tracer相关类：**
AbstractSofaTracerStatisticReporter ---执行具体的上报动作
AbstractDigestSpanEncoder ---存储要上报的内容
AbstractClientTracer聚合上述两个类，通过clientSend和clientRecieve来执行具体的发送与接受动作

**思路**
对于Kafka、Rocket、Rabbit、Redis、Mongo这些中间件，Spring均提供了模板类，我们可以通过代理这些模板类（如：redisTemplate、kafkaTemplate等），通过代理它的execute方法，在execute方法前后通过AbstractClientTracer的clientSend和clientRecieve来完成埋点操作，大体

[2021-08-20 17:12] keleqnma commented on #841
- 校验开关配置：
参照ModuleHealthChecker的配置实现，在SofaBootConstants里添加两个值：SOFABOOT_COMPONENT_CHECK_INTERFACE_TYPE_DEFAULT_ENABLED=false
SOFABOOT_COMPONENT_CHECK_INTERFACE_TYPE_ENABLED= "com.alipay.sofa.healthcheck.component.check.strict.enabled“
或者，复用健康检查的strictcheck的值也可以（但感觉会有些混淆）

-ServiceComponent内部：
ServiceComponent内部的isHealthy方法，

[2021-08-21 05:27] alaneuler commented on #841
@keleqnma 思路可以的，有一点我提示一下：三个地方的服务发布，最终都是 new 一个 ServiceImpl 对象，该对象会持有 target（也即是 bean）和 interfaceType，在这里面做校验。

关于开关的话，可以新建一个，不用复用之前的了～

[2021-08-21 05:32] alaneuler commented on #841
不是这个意思哈，trace 的埋点 SOFATracer 均已完成，现在是需要在 SOFABoot 中增加自动配置。

[2021-08-21 08:13] keleqnma commented on #851
assign to me pls

[2021-08-23 01:38] it-linnan commented on #841
您好，我想认领“为SOFA Boot增加SOFA tracer插件“

1. 参考sofa-tracer项目，将各plugin对应的BeanPostProcessor同步到sofa-boot中；
2. 为plugin增加对应的自动配置类，自动配置启用条件是属性开关(enabled)不是false，且项目中引用了相关依赖。

[2021-08-23 02:37] dkisser commented on #841
sofa-tracer下的tracer-sofa-boot-starter模块已有相关Auto configuration，这边应该不用再集成了吧

[2021-08-23 05:12] alaneuler commented on #841
这个思路是对的，BPP 可以不用同步，还是放在 SOFATracer 中吧～

[2021-08-23 05:12] alaneuler commented on #841
@dkisser 需要的，虽然埋点已经完成，但是自动化的配置是没有的，需要让用户低成本使用。

[2021-08-23 05:31] it-linnan commented on #847
🙋认领

[2021-08-23 09:15] alaneuler opened #861 "add configuration for local env"
Take over the auto detecting:
![image](https://user-images.githubusercontent.com/8054939/130422471-1c69d0eb-de1c-407b-a03b-30884478b2dc.png)

[2021-08-24 11:40] alaneuler commented on #847
@it-linnan 已 assign～

[2021-08-26 09:07] HzjNeverStop opened #862 "SofaRuntimeManager init should not use placeholder"
## In what area(s)?

## Describe the feature

[2021-08-28 03:28] alaneuler opened #865 "Threadpool's queue configuration in parallel application context refresh."
Synchronous queue has its internal defect when using along side with CallerRunPolicy.

Considering following scenario:
1. all threads of `core` size are busy refreshing context
2. new refreshing task comes while it is time-consuming
3. main thread processes the time-consuming task by itself
4. threads in the thread pool finish their tasks but main thread gets no time submit new task

Threads in th

[2021-08-28 04:33] #865 closed

[2021-08-30 01:53] seeflood commented on #854
@alaneuler Any idea about this issue? Can we make it a new community task?

[2021-08-30 05:29] alaneuler commented on #851
@keleqnma are u still working on it?

[2021-08-30 05:37] alaneuler commented on #854
@seeflood 这个会牵涉到部分内部代码逻辑，需要我们自己看下

[2021-08-31 07:23] #862 closed

[2021-08-31 08:11] #837 closed

[2021-08-31 08:34] HzjNeverStop opened #869 "Add ErrorCode"

[2021-08-31 08:35] HzjNeverStop opened #870 "Make AbstractContractDefinitionParser not depend on @Autowired"

[2021-08-31 08:52] #859 closed

[2021-09-01 04:05] #870 closed

[2021-09-02 01:56] #869 closed

[2021-09-02 07:35] hoodoly opened #873 "健康检查后置回调失败后，执行健康检查结果仍然为成功"
## Describe the bug
A clear and concise description of what the bug is.
1. 实现健康检查回调接口， 健康检查失败并返回异常。
![image](https://user-images.githubusercontent.com/15070948/131802604-6c54154d-e7fd-408a-bb46-12ed02b44c7b.png)

2. 执行健康检查，查看结果
![image](https://user-images.githubusercontent.com/15070948/131802035-e26cc0e2-6cd5-4637-97ae-be178cb72197.png)

sofaboot版本：3.8.0

[2021-09-03 03:47] seeflood commented on #861
我补充下任务描述：
## 背景
现在boot启动后会判断是怎么启动的、是不是通过IDE启动的（比如点idea上的运行按钮启动项目），如果是通过IDE启动的，会有些特殊功能（比如日志增强等）
但是代码里只判断了有没有idea的class，没判断别的IDE
## 需要做的优化
在LocalEnvUtil工具类里加一些判断：
- 也判断下是不是Eclipse启动的（判断下有没有加载Eclipse的class）
- 加个配置项，如果配了就认为是通过IDE启动的

## 这个功能的价值
简化本地开发

[2021-09-03 03:56] alaneuler commented on #854
@seeflood @keleqnma 这个能力 Spring Boot 本身已经提供了，https://docs.spring.io/spring-boot/docs/current/reference/html/actuator.html，见 mappings

[2021-09-03 04:41] #854 closed

[2021-09-03 07:52] seeflood commented on #851
@keleqnma hi,过程中有遇到啥问题不，可以抛出来讨论

[2021-09-03 08:17] aaronlinv commented on #861
🙋认领

[2021-09-03 08:22] seeflood commented on #861
Cool !
有疑惑和问题欢迎发出来哈我们帮你讲

[2021-09-03 13:34] Darian1996 commented on #861
1. 配置项的优先级跟 class.forName 优先应该哪个优先
2. Eclipse 判断哪个主类
3. 任务可以重复认领吗？

[2021-09-03 14:01] seeflood commented on #861
@Darian1996 感谢反馈~
1. 配置项的优先级最高
2. 这个我也不知道诶，需要做任务的同学调研一下
3. 之前没考虑过这个问题，可以商量。我个人的想法是不能同时两个人领一个任务（避免开源变的太卷，哈哈） 但是如果一个已经分配出去的任务长时间没响应，那么其他人也可以重新认领~

你看下有其他感兴趣的任务不，比如：
Layotto的任务列表在https://github.com/mosn/layotto/issues/108  没打勾的都是没分配出去的任务；
SOFA-Boot之前的一个任务https://github.com/sofastack/sofa-boot/issues/851  领任务的同学最近在培训，特别忙没空做，如果你感兴趣的话可以协商下assign给你~

[2021-09-04 04:08] Darian1996 commented on #861
谢谢我先去看看 #851 ，梳理一下思路

[2021-09-04 05:35] Darian1996 commented on #851
1. 配置项增加在  `SofaRuntimeProperties`

[code]

2. 配置项注入  SofaRuntimeConfigurationProperties.java , 可以通过： `com.alipay.sofa.boot.serviceAssignableInterfaceTypeCheck=true` 开启检查

[code]

3. 错误码定义 log-codes.properties

[code]

4. 处理检查 ServiceComponent.java

[code]

5. 疑问，这个配置的放置的位置是不是有问题，我看 `SofaBootConstants` 也有配置项，不知道 `SofaBootConstants` 和  `SofaRuntimeProperties` 什么区别。

6. 疑问：`com.alipay.sofa.runtime.s

[2021-09-04 09:18] Darian1996 commented on #851
@seeflood
1. 配置项增加在  `SofaRuntimeProperties`

[code]

2. 配置项注入  SofaRuntimeConfigurationProperties.java , 可以通过： `com.alipay.sofa.boot.serviceAssignableInterfaceTypeCheck=true` 开启检查

[code]

3. 错误码定义 log-codes.properties

[code]

4. 处理检查 ServiceComponent.java

[code]

[2021-09-04 10:39] seeflood commented on #851
@Darian1996 好呀我assign给你，@keleqnma最近培训太忙了我和他说过了
方案我看着没问题 @alaneuler 看下如何

[2021-09-05 08:26] Darian1996 commented on #851
代码已提交，帮忙看一下，有没有问题

[2021-09-05 15:48] it-linnan commented on #847
已提交PR [Add tracer autoconfigure. (#847) ](https://github.com/sofastack/sofa-boot/pull/875)

[2021-10-13 01:57] #851 closed

[2021-11-10 05:23] alaneuler opened #882 "Parallel processing of health checking"
Currently, health check items is invoked one by one in main thread. In order to reducing the startup time of application, parallel processing is expected.

[2021-11-10 10:24] dginelli opened #883 "Activating a research fault localization bot on your project?"
Hi!

We are software engineering researchers and are currently looking for active open-source projects where we could test a new cool software bot: flacocobot!

When a new pull request is open, if it has test failures/errors, flacocobot analyzes the failure and posts a diagnosis as comments to the pull request, highlighting the most suspicious lines that likely need to be analyzed to fix the bug.

[2021-11-12 04:51] 550372746 opened #884 "sofaboot3.9.0整合nacos2.0.3时服务注册不进去，但是nacos0.6.0可以，请问下怎么解决升级问题？"
## In what area(s)?

## Ask your question here

[2021-11-18 12:14] 550372746 commented on #884
调试出来了，引用sofaboot最新版本3.9.0，nacos2.0.3。需要自定义命名空间，不同的一点是配置信息com.alipay.sofa.rpc.registry-address= nacos://127.0.0.1:8848的后面要加自定义命名空间ID, 例如完整的写法com.alipay.sofa.rpc.registry-address= nacos://127.0.0.1:8848/c9ca30c6-ff04-4fae-96f0-fbe6227bd4a3，我这边是这么解决的，已经成功注册服务了。   放在这里和大家共勉。

[2021-11-18 12:15] #884 closed

[2021-11-19 05:19] Darian1996 commented on #882
这种也类似于新手任务可以认领吗？

[2021-11-23 11:22] fuchun1010 opened #887 "feign不能正常埋点"
### sofa版本3.9.1

### 报错信息
Caused by: java.lang.NoSuchMethodError: feign.Request.requestBody()Lfeign/Request$Body;
	at com.alipay.sofa.tracer.plugins.springcloud.instruments.feign.SofaTracerFeignClient.execute(SofaTracerFeignClient.java:66)

### 看了feign的代码
request = Request.create(request.httpMethod(), request.url(), new LinkedHashMap<>(
                    request.headers()), request.requestBody()

[2021-11-26 02:29] zeshaoy opened #889 "sofaboot如何支持优雅关闭？"
您好  sofaboot在3.7.0版本开始基于spring boot 2.3.0构建，是不是同时也支持spring boot 2.3.0的优雅关闭新特性，配置方式是否和springboot一致？

[2021-11-26 02:37] ujjboy commented on #889
@zeshaoy  这个逻辑跟 springboot 一致，没做特殊处理。 如果遇到问题，你在描述问题好了。

[2021-11-30 02:48] zeshaoy opened #890 "sofaboot执行graceful shutdown之后，会抛出sofa-boot-01-03001：failed to unregistere compenent"
在sofaboot 执行graceful shutdown之后，sofarpc逻辑并没有被正确执行，抛出了一系列sofa-boot-01-03001：failed to unregistere compenent问题。

[2021-11-30 02:54] zeshaoy commented on #889
sofaboot执行graceful shutdown之后，会抛出sofa-boot-01-03001：failed to unregistere compenent，sofa-boot-01-01006，rpc-010010010：取消订阅元数据失败等问题，烦请帮忙确认

[2021-12-01 08:38] wardenzhao opened #891 "sofa.versions.properties这个文件的生成机制是怎样的"
## In what area(s)?

## Ask your question here
sofa.versions.properties这个文件的生成机制是怎样的

[2021-12-06 02:38] HzjNeverStop commented on #890
已知问题，已经在3.9.1版本修复：https://github.com/sofastack/sofa-boot/pull/880

[2021-12-07 07:32] HzjNeverStop opened #893 "Update SpringBoot version to GA version"
## In what area(s)?

## Describe the feature

[2021-12-07 15:28] #883 closed, assigned to nobody

[2021-12-15 10:35] 541538356 opened #896 "sofaboot 升级到3.9.1版本后，启动报错"
WARN  [main] o.s.boot.web.servlet.context.AnnotationConfigServletWebServerApplicationContext - Exception encountered during context initialization - cancelling refresh attempt: org.springframework.beans.factory.BeanDefinitionStoreException: Failed to process import candidates for configuration class [com.x.x.x.x.StartApplication]; nested exception is java.lang.NoSuchFieldError: KUBERNETES

ERROR [

[2021-12-15 11:26] #896 closed

[2021-12-17 02:43] wentfar opened #897 "sofa与hystrix集成时，能否像xml方式引用服务那样使用xml方式配置consumerconfig"
场景
sofa与hystrix集成时，有以下代码：

// 全局开启
RpcConfigs.putValue(HystrixConstants.SOFA_HYSTRIX_ENABLED, true);

// 对特定 Consumer 开启
ConsumerConfig consumerConfig = new ConsumerConfig()
.setInterfaceId(HelloService.class.getName())
.setParameter(HystrixConstants.SOFA_HYSTRIX_ENABLED, String.valueOf(true));

问题：
我目前用了sofastack框架，HelloService以xml方式被consumer消费，请问fallback实现类是否可以在xml消费者中配置，如果不可以该怎么集成？

@ScienJus

[2021-12-17 06:17] Kunple-w opened #898 "是否可以在 SOFABoot 模块中定义 Controller 组件"
## In what area(s)?

 /area runtime

## Ask your question here
在https://www.sofastack.tech/projects/sofa-boot/faq/中提到:

SOFABoot 模块一般用于封装对外发布服务接口的具体实现，属于业务层，Controller 属于展现层内容，我们不建议也不支持在 SOFABoot 模块中定义 Controller 组件，Controller 组件相关定义建议直接放在 Root Application Context。

提供模块级别的Controller我理解在模块化中也是场景的，如该模块自身对外提供的接口。如果将各个模块的Controller都放在Root Application Context中，感觉又是反模块化的方向。
1. 考虑对Controller的支持吗？看了一下iss

[2021-12-17 07:07] seeflood commented on #898
感谢反馈！ @alaneuler 看看哈

[2021-12-21 07:45] Darian1996 commented on #898
SOFA 的模块化是分层
和根据业务模块分模块不一样

[2021-12-23 01:09] Kunple-w opened #901 "考虑添加一个SofaBean注解"
## In what area(s)?

 /area runtime

## Describe the feature

对应`@SofaService`和`@Service`/`@Component`的对应关系，是否应该有个`@SofaBean`对应Bean，以免去在配置类中重复写`@Bean`。

目前的写法
[code]

**期望的写法:**
[code]

[2021-12-28 13:43] #897 closed

[2022-01-11 04:27] akmalelias opened #905 "Documentation Update"
## In what area(s)?

## Ask your question here

Most of the documentation (English version) is last updated in mid-2019.
Really appreciate it if the documentation can be updated to reflect the latest changes of the SOFABoot Framework.
Thank you so much for your great work.

[2022-01-18 13:58] zerochina2020 opened #906 "官方轻量级类隔离容器 SOFAArk 动态模块操作Demo sofaboot升级到3.10.0启动报错"
## Describe the bug
官方"轻量级类隔离容器 SOFAArk 动态模块操作Demo"，sofaboot升级到3.10.0后启动报错，demo代码地址：https://github.com/caojie09/sofachannel-demo

## 报错日志
Spring Boot Version: 2.3.12.RELEASE (v2.3.12.RELEASE)
SOFABoot Version: 3.10.0 (v3.10.0)
Powered By Ant Group

21:48:27.175 INFO  io.sofastack.stockmng.StockMngApplication - Starting StockMngApplication v1.0.0 on jiaquan.local with PID 67269 (/Users/jiaquan/Down

[2022-01-24 09:38] MingJunDuan commented on #901
May refer to sofa-rpc issue [#1031](https://github.com/sofastack/sofa-rpc/issues/1031)

[2022-01-26 05:54] forsake0120 opened #909 "SofaBoot support Sofa-Rpc 5.8.2+ & support nacos 2.0.3"
Please Update sofa-rpc version to 5.8.2+ for using nacos 2.0.3 as registry center

[2022-02-23 06:48] liu280790081 opened #914 "web-ark-plugin与webflux的冲突如何解决"
![image](https://user-images.githubusercontent.com/12794525/155272533-2e6193fa-c3a2-4366-b1c4-9c010e321931.png)
web-ark-plugin 我看这个插件中引用了tomcat  和webflux中的有冲突
有没有其他的插件可做替换

现在在做的工程先将多个服务依赖到宿主应用这，但我们的应用大多都是webflux的框架，如何能让宿主应用做的兼容webmvc于webflux

[2022-02-23 07:57] liu280790081 commented on #914
这个是demo  https://github.com/liu280790081/sofachannel-demo.git

[2022-02-23 08:05] liu280790081 commented on #914
[spring.log](https://github.com/sofastack/sofa-boot/files/8122689/spring.log)

日志文件

[2022-02-23 08:23] glmapper commented on #914
@liu280790081 web-ark-plugin 基于 servlet 容器（目前是 tomcat），暂时没有提供对于 webflux 的插件支持；如果你使用的是 tomcat 容器，可以尝试
[code]

[2022-02-24 02:34] liu280790081 opened #915 "sofaboot从3.2.2切换到3.3.1版本导致抛出异常 No SofaRuntimeManager Found!"
demo地址：[https://github.com/liu280790081/sofachannel-demo.git](https://github.com/liu280790081/sofachannel-demo.git)  分支为version-conflict
异常日志：[default.log](https://github.com/sofastack/sofa-boot/files/8129215/default.log)
![image](https://user-images.githubusercontent.com/12794525/155446440-68d9db36-9343-4a74-9236-72a0b5ff6221.png)

想知道版本切换后是否需要依赖其他包达到3.2.2的效果

[2022-02-24 02:37] liu280790081 commented on #914
@glmapper 感谢你的解答，不过这一问题我已解决，虽然不太清楚其中的原理。我是通过dynamic-provider模块的pom.xml 引入

完成的webmvc与webflux兼容问题。
同时我又遇到了新的问题，已提出新的issues  [sofaboot从3.2.2切换到3.3.1版本导致抛出异常 No SofaRuntimeManager Found!](https://github.com/sofastack/sofa-boot/issues/915)

[2022-02-24 03:37] liu280790081 commented on #915
看了下3.2.2与3.3.2的源码  发现了其中一个区别
3.2.2版本：
![image](https://user-images.githubusercontent.com/12794525/155452911-f02d1841-8e75-492f-99a3-545f8c65aa95.png)

3.3.2版本
![image](https://user-images.githubusercontent.com/12794525/155453226-954abbe1-ddc3-46cf-a7d4-404a03182f86.png)

其中3.3.2版本将SofaRuntimeManager 注入到了spring上下文中而在3.2.2版本中没有注入，这里是否引起了某些其他影响？

[2022-02-27 08:43] Kunple-w opened #916 "springboot2.2废弃了logging.path, 2.3已删除该属性，应使用logging.file.path"
## Describe the bug
Spring boot2.3已经不支持logging.path, sofa的各种包的log-conf.xml未更新

see https://github.com/spring-projects/spring-boot/issues/22295

## To Reproduce
Steps to reproduce the behavior:
1. 使用sofa3.10.0, 按照sofa guides配置`logging.path`,启动后并没有出现文档中的一些日志文件;
2. 降级为sample中的3.2.0版本，日志文件出现;

## Expected behavior
应支持`logging.file.path`属性

## Screenshots
**2个属性同时配置:**
<img width="1002" alt="image" src

[2022-03-01 12:37] alaneuler opened #917 "`BeanFactoryPostProcessor` implementations should not be instantiated via constructor dependency injection."
In Spring, constructor dependency injection is only available by means of  inject-by-type. If `BeanFactoryPostProcessor` implementations is created via constructor, it will make Spring invoke `BeanFactoryUtils.beanNamesForTypeIncludingAncestors` to find all suitable candidates. And because of that, bean type unknown unless initialized will be created way early (`invokeBeanFactoryPostProcessors` ph

[2022-03-03 03:02] alaneuler commented on #905
We're upgrading Spring Boot version to 2.4.x in next SOFABoot release, and the document will also be updated then.

[2022-03-03 03:05] alaneuler commented on #909
@OrezzerO plz fire a PR to update the SOFA RPC version.

[2022-03-03 05:49] alaneuler commented on #915
模块和基座同时升级了吗

[2022-03-05 14:24] alaneuler commented on #917
Similar issue: https://github.com/spring-projects/spring-framework/issues/28122

[2022-03-08 07:54] liu280790081 commented on #915
是的

[2022-03-11 03:18] alaneuler commented on #916
下个版本修正

[2022-03-31 08:48] jhon-ye opened #933 "BIZ 资源隔离问题"
## In what area(s)?

## Ask your question here
biz 合并部署的场景， 某一个biz 将 jvm 资源耗尽，此时宿主应用也会收到影响 目前如果处理这样的问题，

[2022-04-02 12:15] seeflood opened #940 "开源之夏 2022 招募导师"
（对，你没看错，不是招募学生，是招募导师）

SOFAStack 报名了开源之夏，这个活动主办方是 中科院 和 OpenEuler 社区，规则简单来说就是：由社区设计项目课题给在校学生做，做出来的东西贡献给社区，合并后有奖金。每个课题对应一个社区导师。
因此需要征集下各个开源项目的课题、导师。

这个活动可以帮助学生参与到工业级项目中，也是吸引优秀学生加入社区的好机会，
**有 Committer 想来当导师么~ 主办方给奖金**

我开了个导师招募 & 课题征集的 issue，有想来当导师的committer 可以留言哈

https://github.com/sofastack/sofastack.tech/issues/876

条件：项目 Committer

![image](https://user-images.githubusercontent.com/26001097/1

[2022-04-07 06:47] RedA1ert opened #942 "nacos开启鉴权之后，sofaRpc服务注册失败，报错403 unknown user"
sofaboot版本3.11.0 nacos版本2.0.3
![image](https://user-images.githubusercontent.com/32149042/162136694-7e34310a-a41c-4f15-82cb-96fa3dd6d9d1.png)
追踪分析源码之后发现sofarpc在处理nacos自动注册时候，只处理了namespace,没有处理username和password
![image](https://user-images.githubusercontent.com/32149042/162136887-f16c2649-6aad-45e4-bdd3-66859cce4ca5.png)
因此在nacos鉴权时，会发生异常
![image](https://user-images.githubusercontent.com/32149042/

[2022-04-08 11:05] jhon-ye opened #943 "sofa runtime-sofa-boot jvm service 引用报错"
## Describe the bug
A clear and concise description of what the bug is.
<img width="1470" alt="image" src="https://user-images.githubusercontent.com/58320279/162423104-2fe16302-b784-45a6-96e0-a0923528247c.png">

## To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior
A clear and concise description of what you e

[2022-04-11 09:57] #943 closed

[2022-04-14 08:54] alaneuler opened #947 "Provide a simplified version of result for readiness check"
Result of `actuator/readiness` always contains full details of readiness check of all components. When application grows bigger, the result inflates quickly (bigger than 300K). Need for a simplified version is urgent to avoid useless network traffic and other weird problems, as infrastructures like K8S just need an HTTP status code of `readinessProbe` or `livenessProbe`.

[2022-04-18 09:34] joker-pper opened #948 "建议提供本地开发可用于简单服务直连绑定的功能"
背景:
   本地开发调试困难，每次都是在更改完代码并增加日志发布到线上进行排查问题，耗时久
内部实践:
   通过业务注册服务代码改造结合在test/resource/bolt-xxx.json完成服务绑定功能进行调试（只绑定服务，不会将本地服务注册到集群中），其中当配置文件存在时才会进行绑定，支持多套环境，但只支持bolt协议，当激活环境标识为none时忽略。
  配置文件大致格式为:
[code]
愿景：
  希望官方能够统一提供支持，可以更好的兼容代码注册、注解等方式并支持其他的协议使用，提高开发效率。
目前大致期望的功能在配置文件中有所体现，即支持服务简称快速匹配、全路径匹配、正则匹配、支持uniqueId直连绑定，支持多套调试环境，支持可选使用。望评估后采纳。

[2022-04-27 02:32] alaneuler opened #952 "源码解析：SOFABoot 上下文隔离机制解析"
SOFABoot 的上下文隔离机制提供了不同于传统维度的模块化，本任务需要从源代码的角度解释 SOFABoot 是如何实现这一机制的。

[2022-04-27 02:33] alaneuler opened #953 "源码解析：SOFABoot 上下文隔离机制解析"
SOFABoot 的上下文隔离机制提供了不同于传统维度的模块化，本任务需要从源代码的角度解释 SOFABoot 是如何实现这一机制的。

[2022-04-27 02:36] alaneuler opened #954 "源码解析：SOFABoot HealthCheck 机制解析"
SOFABoot 的健康检查机制为微服务应用发布提供了可靠的检查手段，SOFABoot 利用 Spring 启动期间的事件 listener 作为 hook，本任务需要说明 SOFABoot 如何做到可靠健康检查的。

[2022-04-27 02:38] alaneuler opened #955 "源码解析：SOFABoot 组件协议 binding 机制解析"
SOFABoot 支持众多服务协议，例如 JVM 服务、Bolt 和 Dubbo 等，从 SOFA 组件、源码角度解析 SOFABoot 是如何实现的。

[2022-04-27 07:20] wangxingyu000 opened #956 "SOFABoot 源码解析"
SOFABoot 源码解析活动是由 SOFAStack 团队主办的开源活动，我们希望打造一个人人皆可参与，基于 GitHub 协作的积极透明的开源活动。

本次活动旨在增强大家对 SOFABoot 的了解与认知，促进开源社区的交流，让大家更好的了解、学习和使用开源项目，是大家学习和使用 SOFABoot，与 SOFABoot 的核心开发者直接交流的一个良好契机。

本次活动所产出的文章将首先发表在 SOFABoot 项目主页上，同时也将会进行线上全渠道的推广，经整理后的部分内容会作为 SOFAStack 官方博客中，并会在全渠道进行发布。

***

### 活动流程

![](https://gw.alipayobjects.com/mdn/rms_1c90e8/afts/img/A*VjR0S5ELOuMAAAAAAAAAAAAAARQnAQ)

- 参与者登陆自己的 GitHub 账

[2022-04-27 09:44] it-linnan commented on #954
/assign

[2022-04-27 10:38] TrevorLink commented on #955
/assign

[2022-04-28 07:37] jhon-ye opened #958 "SofaService 暴露 jvm sevice 和 bolt rpc service 升级biz 出现 jvm service 不可访问， rpc"
## In what area(s)?

## Ask your question here

[2022-04-28 07:44] jhon-ye opened #959 "Sofa Service 暴露 jvm rpc 双服务，升级biz 后出现jvm不可访问， rpc 可访问"
## In what area(s)?

ctn-tracking:2.0.0:activated
ctn-tracking:1.0.0:deactivated

Sofa Service 暴露 jvm rpc 双服务，升级biz 后出现jvm不可访问，  rpc 可访问
jvm 不可访问可以理解， ctn-tracking:1.0.0在install 是没有注册到 bizMangerService ，通过 sofa reference client
访问时是通过  bizName 从  bizMangerService 获取相应的biz信息

但sofa-rpc 似乎没有这样，如果保持一致的话应该是 在biz state 为deactivated是也不可访问

同时提一个问题：
在业务场景中，需要同一个biz 不同的版本同时保持在线，阅读biz 安装的源码，判断biz state 是否可

[2022-04-28 07:45] #958 closed

[2022-05-05 06:23] ujjboy commented on #948
@joker-pper 没太明白你的意思，你是说想通过一个配置文件，决定启动后提供哪个服务？

[2022-05-05 06:27] ujjboy commented on #933
SOFABoot 本身不支持这种隔离，可以调研下 JDK 层面的，例如 [Dragonwell 的租户隔离](https://github.com/alibaba/dragonwell8/wiki/%E4%BD%BF%E7%94%A8Alibaba-Draognwell%E5%A4%9A%E7%A7%9F%E6%88%B7%E7%89%B9%E6%80%A7%E7%AE%A1%E6%8E%A7%E8%BF%90%E8%A1%8C%E6%97%B6%E8%B5%84%E6%BA%90) 看看

[2022-05-05 06:32] joker-pper commented on #948
本身sofaboot不是有提供直连的方式进行调试嘛，不过通过注解或其他方式进行引用服务的方式比较死板，且不能整体管控多个环境下的地址。我建议的这种方式就是在一定程度上可以在本地调试更方便，且可以切换多套环境，另外推荐默认在test/resources下不会影响实际线上服务的寻址

[2022-05-06 07:56] MingJunDuan commented on #953
看起来是最难的的一个，4颗星

[2022-05-07 08:25] lai53050960 opened #961 "sofaboot 升级到 3.12.1，可否用 java 15 开发"
## In what area(s)?

## Ask your question here

sofaboot 升级到 3.12.1，springboot 适配到了 2.4.13，是不是意味着可以用java 15 开发了

[2022-05-11 02:12] xiamy-SumMer opened #962 "biz成功加载后无法找到对应的jvm服务"
版本：3.11.1
问题：biz成功加载后，调用biz中的方法提示无法找到对应的jvm服务
<img width="583" alt="image" src="https://user-images.githubusercontent.com/39183612/167754841-c5fc4488-d2e8-4cc9-b6e7-b995a4aa98c4.png">
<img width="1502" alt="image" src="https://user-images.githubusercontent.com/39183612/167754888-da897c2e-8827-48b2-b28c-ae9da7fc7f97.png">
后台错误信息：java.lang.IllegalStateException: SOFA-BOOT-01-00400: JVM Reference[int

[2022-05-11 05:39] coderDylan commented on #933
Tomcat Context和JDK Tenant做绑定

[2022-05-11 09:17] paojiao-fengzhua commented on #953
要试着解析一下嘛？

[2022-05-12 12:32] HzjNeverStop commented on #947
#957

[2022-05-12 12:33] alaneuler commented on #961
JDK 11 是确认支持的，JAVA 15 我们这边没有验证过，理论上应该是 OK 的

[2022-05-18 09:38] StringKe opened #965 "dependency-check检查出的依赖漏洞如何进行修复？"
通过依赖检查检查，会有一些 `Blocker` 我如何修复它们？

最简单的办法是直接升级对应的版本，比如 `spring-boot-starter-web -> spring-boot-starter-json -> jackson-databind` 这样的依赖链，`spring-boot-starter-web` 的版本由 `sofaboot-dependencies -> sofa-boot-build` 决定的，也不是很好的升级版本怕引起 `sofastack` 中其他组件出现错误。

来自 阿里 codeup 提供的依赖检查
<img width="786" alt="CleanShot 2022-05-18 at 17 34 49@2x" src="https://user-images.githubusercontent.com/31089228/169008247-0a1

[2022-05-19 16:07] aexftf commented on #956
/assign

[2022-05-20 02:19] wangxingyu000 commented on #956
hello 你想要认领哪个源码解析任务呢？添加 SOFAGirl 微信:SOFAGirl180419

[2022-05-20 02:54] aexftf commented on #956
/assign/952

[2022-05-20 02:54] aexftf commented on #952
/assign

[2022-05-25 01:11] it-linnan commented on #955
/assign

[2022-06-02 12:13] Kunple-w opened #978 "disable-jvm-first=true有时不生效"
## Describe the bug
在配置com.alipay.sofa.boot.disable-jvm-first=false后，app启动完成后，真正调用时会有一些reference使用jvm，一些使用bolt.

debug发现在`ReferenceRegisterHelper#registerReference`注册reference时会使用`SofaRuntimeProperties#isDisableJvmFirst(SofaRuntimeContext)`，而SofaRuntimeProperties的判断是根据内部静态变量，而内部静态变量的值的来源是`SofaRuntimeConfigurationProperties`，由spring回调，正常情况下该流程正常；
但是在一些场景下，**如果reference的加载时间早于SofaRuntimeConfiguratio

[2022-06-09 01:44] it-linnan commented on #954
[源码解析：SOFABoot HealthCheck 机制解析.md](https://github.com/sofastack/sofa-boot/files/8866099/SOFABoot.HealthCheck.md)

[2022-06-09 03:33] it-linnan commented on #954
[SOFABoot.HealthCheck.md](https://github.com/sofastack/sofa-boot/files/8866575/SOFABoot.HealthCheck.md)

[2022-06-10 07:03] leemos-xx commented on #861
你好，这个任务似乎长时间没有跟进了，我是否可以认领来做？ @seeflood

[2022-06-15 02:01] hantianxiaoxue opened #981 "希望类隔离开发模式，打包时biz包可以共享父模块的相同的jar减少整体体积"
## In what area(s)?

## Describe the feature

[2022-06-15 10:49] keith-java opened #983 "sofa-tracer-kafkamq-plugin支持ProducerListener解决方案"
sofa-tracer-kafkamq-plugin集成到sofa-boot足以满足常规生产/消费，有一种场景现在无法满足，请教一下实现方案

场景：kafka生产者异步回调实现中日志无法关联tracer

代码使用场景：
1、ListenableFuture
2、ProducerListener

如果需要支持以上两种代码的回调实现tracer功能，应该怎么实现

[2022-06-20 09:17] cxntsh opened #988 "如何实现模块的日志隔离"
## In what area(s)?

## Ask your question here
基于SOFA-BOOT 的 ApplicationContext 或者 SOFA-ARK 的 Classloader 来进行模块化的拆分设计，如何实现日志的模块化隔离 ？，就是日志输出到不同的路径，同一模块的日志在一个目录下。

[2022-06-23 16:38] icodening commented on #952
/assign

[2022-06-26 08:01] Kunple-w commented on #988
关于日志，sofa有个[sofa-common-tools](https://github.com/sofastack/sofa-common-tools)，是不是你期望的用法

[2022-06-26 08:34] Jiiiiiin commented on #80
也遇到同样的问题，本地可以，但是在进行ci的时候使用自建的nexus作为源就出现了：

[code]

[2022-06-28 06:04] wangxingyu000 commented on #952
欢迎领取 issue，可以微信添加 SOFAGirl180419，备注“Boot 源码解析“，之后方便我们同步进度和发放奖品哟

[2022-07-01 08:33] ujjboy commented on #965
![image](https://user-images.githubusercontent.com/1424920/176857111-6f096f19-785c-4b67-8392-f19e65579f0d.png)

在自己的 `pom.xml`  里替换这个属性即可。

`<jackson-bom.version>2.11.4</jackson-bom.version>`

[2022-07-01 08:41] ujjboy commented on #978
有简单复现的 demo 吗？

[2022-07-01 09:49] Kunple-w commented on #978
晚点我搭个demo复现一下

[2022-07-02 04:18] Kunple-w commented on #978
demo https://github.com/Kunple-w/sofa-disable-jvm-first-not-work

[2022-07-04 02:55] icodening commented on #952
[sofa-isle.md](https://github.com/sofastack/sofa-boot/files/9036125/sofa-isle.md)

[2022-07-04 09:47] yuanyuancin opened #996 "ReadinessCheckCallback 支持自定义 Comparator"
当前 ReadinessCheckCallback 的排序 com.alipay.sofa.healthcheck.util.HealthCheckUtils#sortMapAccordingToValue

希望支持自定义 Comparator

[2022-07-05 06:27] wujun27 opened #998 "sofa isle多模块集成dubbo3报错:No bean named 'referenceAnnotationBeanPostProcessor' available"
## Describe the bug
我的项目结构:
uims-service: 业务能力模块项目， 集成了runtime-sofa-boot-starter并暴露了jvm的sofa  service.
`    <sofa:service ref="userFacadeService" interface="com.my.uims2.client.service.UserFacadeService">
        <sofa:binding.jvm/>
    </sofa:service>

    <sofa:service ref="roleFacadeService" interface="com.my.uims2.client.service.RoleFacadeService">
        <sofa:binding.jvm/>
    </sofa:servic

[2022-07-06 02:10] wujun27 commented on #998
日志设置为DEBUG，发现sofa module再启动module spring上下文前ReferenceAnnotationBeanPostProcessor的bean被销毁了，导致Root Spring上下文里找不到这个bean。
class org.apache.dubbo.config.spring.beans.factory.annotation.ReferenceAnnotationBeanPostProcessor was destroying!

2022-07-06 10:04:36.876 DEBUG 10150 --- [           main] o.s.b.f.s.DefaultListableBeanFactory     : Creating shared instance of singleton bean 'referenceAnnotationBe

[2022-07-06 03:58] wujun27 commented on #998
找到原因：
ReferenceAnnotationBeanPostProcessor postProcessBeanFactory 处理完会清理掉自己。

org.apache.dubbo.config.spring.beans.factory.annotation.ReferenceAnnotationBeanPostProcessor
if (beanFactory instanceof AbstractBeanFactory) {
            List<BeanPostProcessor> beanPostProcessors = ((AbstractBeanFactory) beanFactory).getBeanPostProcessors();
            for (BeanPostProcessor beanPostProcessor : beanPo

[2022-07-06 04:03] wujun27 commented on #998
感觉是dubbo的问题，本身没问题，但是在sofa 多模块Spring上下会触发这个bug

[2022-07-06 04:14] wujun27 commented on #998
dubbo3 修复掉这段逻辑以后就ok了。
关闭这个issue，我提交到dubbo去

[2022-07-06 04:14] #998 closed

[2022-07-09 03:41] yupd opened #1000 "添加com.alipay.sofa:runtime-sofa-boot-plugin:3.14.0-SNAPSHOT依赖报NoClassDefFoundError"
### Describe the bug
Caused by: java.lang.NoClassDefFoundError: org/springframework/context/ApplicationContextAware
        at java.lang.ClassLoader.defineClass1(Native Method)
        at java.lang.ClassLoader.defineClass(ClassLoader.java:756)
        at java.security.SecureClassLoader.defineClass(SecureClassLoader.java:142)
        at java.net.URLClassLoader.defineClass(URLClassLoader.java:473)

[2022-07-19 06:58] alaneuler commented on #988
可以使用 sofa-common-tools 来做到你想要的日志模块化隔离。但是不建议这么做，这种隔离太细粒度了，感觉是应用本身应该拆分了。

[2022-07-19 06:59] #961 closed

[2022-07-19 07:00] #996 closed

[2022-07-19 09:38] icodening commented on #952
[sofa-isle-v2.md](https://github.com/sofastack/sofa-boot/files/9139517/sofa-isle-v2.md)

[2022-07-26 02:00] it-linnan commented on #955
pr: [sofastack/sofastack.tech#977](https://github.com/sofastack/sofastack.tech/pull/977)

[2022-07-26 10:20] jxsrlsl1234 commented on #395
我理解你这个意思，但是Root-context里有什么明确的实际意义吗，我看就是说放一些公用的bean之类的，另外文档里有这么一句话：
Root Application Context，它是每个 SOFABoot 模块创建的 Spring Context 的 Parent。这样设计的目的是为了保证每个 SOFABoot 模块的 Spring Context 都能发现 Root Application Context 中创建的 Bean，这样当应用新增 Starter 时，不仅 Root Application Context 能够使用 Starter 中新增的 Bean，每个 SOFABoot 模块的 Spring Context 也能使用这些 Bean。

当应用新增Starter是什么意思呢，是说应用引入了新的starter依赖的意思吗，可是这样是说不通的。如果是引入了新的starte

[2022-09-20 07:55] l10178 commented on #915
在 provider的pom里 引入 runtime-sofa-boot-starter 试一下，也许能解决你的问题。
`
    <dependency>
      <groupId>com.alipay.sofa</groupId>
      <artifactId>runtime-sofa-boot-starter</artifactId>
      <version>${sofa.boot.version}</version>
    </dependency>
`

[2022-09-30 03:50] l10178 commented on #916
我所遇见的问题是，两个属性都配置，日志路径也没有生效，有遇到同样问题的吗。

[2022-10-12 09:57] kongqq opened #1021 "Whether to support modular assembly？"
How does the sofa-boot framework support modular assembly and can it be supported? In addition, when the core source code is not open, how to support secondary development and expansion?

[2022-10-13 08:03] #1021 closed

[2022-10-20 08:19] taobaorun opened #1027 "Sofa Servcie Bean Id 支持添加 ref bean id 作为后缀"
## SOFA Service 注册

sofa service 声明bean 如果是同一个接口 声明多次 ，生成的 Bean Id 冲突导致应用无法启动

`protected String resolveId(Element element, AbstractBeanDefinition definition,
                               ParserContext parserContext) throws BeanDefinitionStoreException {
        return SofaBeanNameGenerator.generateSofaServiceBeanName(definition);
    `}
## Describe the feature

Sofa Servcie Bean Id 的生成支持追加 ref

[2022-10-21 06:32] jnan806 opened #1028 "Does isle of SofaBoot support the circular dependency between sofa-modules | 是否支持 sofa-module 之间循环依赖"
## In what area(s)?

## Ask your question here

aplication dependents on both com.test.moduleA and com.test.moduleB, does isle of SofaBoot can work successfully if the ralations as following:
- sofa-module-A dependents on sofa-module-B,
- sofa-module-B also dependents on on sofa-module-A,

if circular dependency was support, I think it should be added in the Official website.

---

for example:

`

[2022-10-25 06:29] #1027 closed

[2022-11-08 10:36] ZaizaiLo commented on #956
/assign#952

[2022-11-14 11:35] HzjNeverStop commented on #1028
Not support